@{
}
<div class="about-view content">
    <button tabindex="-1" class="sidebar-toggle"><span></span><span></span><span></span></button>
    <div class="main-header clearfix">
        <h2 class="page-title pull-left">关于</h2>
    </div>
    <div class="content-inner">
        <div class="about-section">
            <div class="about-logo"><a href="http://chenrensong.com/"><img src="~/static/img/common/logo.png" /></a></div>
            <p class="text-justify">
                OneBlog is an open source ASP.NET Core project that was born out of desire for a better blogging platform. We focused on simplicity, ease of use, extendibility and innovative design while taking advantage of the latest .NET features.
            </p>
            <p class="text-justify">
                OneBlog is easily customizable. We have many downloadable themes, widgets, and extensions or you can make your own with some basic .NET skills. With OneBlog, it is easy to make your blog look and function exactly how you’d like.
            </p>
            <div class="about-external-link">
                <ul class="list-unstyled list-inline">
                    <li><a class="btn btn-default btn-hasicon btn-sm" target="_blank" href="http://chenrensong.com/"><i class="fa fa-globe"></i> Website</a></li>
                    <li><a class="btn btn-default btn-hasicon btn-sm" target="_blank" href="https://github.com/chenrensong/OneBlog/"><i class="fa fa-github"></i> Source</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Your OneBlog.NET Specification</div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span> Version:</span> @ApplicationHelper.Version()
                </li>
                <li class="list-group-item">
                    <span>Identity:</span> @System.Security.Principal.WindowsIdentity.GetCurrent().Name
                </li>
            </ul>
        </div>
    </div>
</div>
