@{
    ViewBag.Title = "Error - 花纷飞";
    ViewBag.PageName = "Error";
    ViewBag.PageBlurb = "Something went wrong...";
    ViewBag.ControllerName = "Root";
}


<div class="container">
    <h3>Sorry, an error has occurred. It has been logged. Please try again later.</h3>

    @ViewBag.Error

</div>

