<div markdowndeep-editor id="md-editor" ng-model="scope.markdownContent" default-editor-height="440"></div>


<link rel="stylesheet" href="~/Content/bower_components/app.css" />
<link rel="stylesheet" href="~/Content/bower_components/foundation-icon-fonts/foundation-icons.css" />
<link rel="stylesheet" href="~/Content/bower_components/github-markdown-css/github-markdown.css" />
<script type="text/javascript" src="~/Scripts/tinybox2/tinybox.js"></script>
<link href="~/Scripts/tinybox2/style.css" rel="stylesheet" />

