@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using OneBlog.ViewModels
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager
@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-box">
    <h1 class="account-title">
        <span>@ViewBag.Title</span>
    </h1>
    <div class="account-body">
        <form id="login-box-login-form" asp-controller="Account" asp-action="ForgotPassword" 
              method="post" class="form-horizontal" role="form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="textEntry ltr-dir" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <input type="submit" value="发送" class="btn btn-default" />
        </form>
    </div>
    <hr />
    <div id="LoginRegister" class="text-center account-body text-uppercase">
        还没有账号?
        <a asp-action="Register" asp-controller="Account">现在创建!</a>
    </div>
</div>
