@model OneBlog.ViewModels.ModifyPasswordViewModel
@{
    ViewBag.Title = "更改密码";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-box">
    <h1 class="account-title">
        <span>@ViewBag.Title</span>
    </h1>
    <div class="account-body">
        <form id="login-box-login-form" asp-controller="Account" asp-action="ModifyPassword"
              method="post" class="form-horizontal" role="form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="passwordEntry ltr-dir" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="passwordEntry ltr-dir" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="passwordEntry ltr-dir" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="修改密码" class="btn btn-default" />
        </form>
    </div>
</div>