@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using OneBlog.ViewModels
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager
@{
    ViewBag.Title = "更改密码";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-box">
    <h1 class="account-title">
        <span>@ViewBag.Title</span>
    </h1>
    <div class="account-body">
        <span>密码修改成功.</span>
    </div>
</div>
